@media only screen and (max-width: 640px) {
    .header-title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .hiden {
        display: none;
    }
}

@media only screen and (max-width: 380px) {
    .header-cont {
        justify-content: flex-start;
    }
    .header-title {
        padding-left: 60px;
        font-size: 15px;
    }
}