
.main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-image: url('./../../assets/bacground_img1.jpg');
    background-position: center;
}

.header-cont,
.footer-cont {
    width: 100%;
    min-height: 60px;
}

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
}

.label {
    position: absolute;
    left: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: black;

}

.logo-img {
    position: absolute;
    left: 10px;
    width: 50px;
    height: 50px;
}

.header-title {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-weight: bold;

    text-shadow: 2px 2px 2px red;
}

.lang-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.lang-container::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-image: url('./../../assets/icons/lang.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lang-options {
    width: 60px;
    height: 40px;

    text-align: center;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 10px;
}


._lang-options-text {
    background-color: rgb(104, 103, 103);
}


.main-cont  {
    width: 90%;
    height: calc(100vh - (60px + 60px));
}

.main-section {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;

}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    overflow: auto;
    padding: 20px;
    width: 100%;
    height: 94%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    background-image: url('./../../assets/logo/logo.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content::-webkit-scrollbar {
    width: 15px;

}

.main-content::-webkit-scrollbar-track {
    margin: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: rgb(62, 57, 57);
    border-radius: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    margin-bottom: 30px;
    background-color: rgb(62, 57, 57);
}

.product-compound > p {
    width: 90%;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(201, 201, 201);
}

.product-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.product-img {
    margin: auto;
    width: 100%;
    background-color: rgba(209, 208, 208, .5);
}

.product-name {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(201, 201, 201);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.product-id {
    text-align: center;
    padding-bottom: 10px;
}

.product-id,
.ingredients-text,
.ingredients-value,
.product-total-weight,
.product-price {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(201, 201, 201);
}

.product-total-weight {
    padding-top: 15px;
}

.product-total-weight,
.product-price {
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: end;
}

.footer-cont  {
    margin-top: auto;
    background-color: rgba(255, 255, 255, .5);
}

.contacts-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-title {
    margin-right: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contacts-list {
    display: flex;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contacts-list-item {
    position: relative;
    margin-right: 35px;
}

.contacts-list-item:first-of-type {
    margin-left: 35px;
}

.contacts-list-item-link {
    text-decoration: none;
}

.instagram::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-image: url('./../../assets/icons/instagram.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.instagram {
    color: blueviolet;
}

.facebook::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-image: url('./../../assets/icons/facebook.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.facebook {
    color: rgb(22, 22, 234);
}